@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body{
  text-align: center;
}
.header{
  background-image: url('images/pattern-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height:30vh;
}
h1{
  color:white;
  padding: 35px 0;
  font-size: 40px;
  font-weight: 500;
}
.msgEr{
  color: rgb(255, 89, 89);
  font-size: 17px;
  margin-top: 10px;
  letter-spacing: 1px;

}
.results{
  display: flex;
  height: 70vh;
}
.places{
  width: 40%;
  height: 100%;
  text-align: left;
  overflow-y: auto;
  
  background-color: #eeeeee;
}
.leaflet-container{
  height:100%;
  width: 60%;
}

h2{
  padding: 20px 10%;
  border-bottom: 1px solid #E5E7EB;
  background-color: #ffffff;
  margin-bottom: 10px;
  
}
.place{
  font-weight: 400;
  padding: 20px 10%;
  border-bottom: 1px solid #E5E7EB;
  margin-bottom: 10px;
  box-shadow:0 0.0625rem 0.1875rem #cacaca ;
  
  background-color: #ffffff;
  cursor: pointer;
}
.clicked{
  background-color:rgb(230, 231, 231) !important;
}
.details{
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding-top: 10px;
}
.SearchBar input{
  font-size:16px;
  padding:15px 30px;
  outline: none;
  border: thin solid #cacaca;
  width: 25%;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inptfirst{
  border-radius:20px 0 0 20px;
}
.inptsecend{
  border-radius:0 20px 20px 0;
  margin-right: 10px;
}
button{
  font-size:16px;
  margin: 10px;
  padding:15px 30px;
  border-radius: 20px;
  border: none;
  background-color: #ffffff;
}
.or{
  color: white;
}
@media(max-width:1100px) {
  .info{
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
    padding: 20px 0;
    top: 30vh;
  }
  p{
    font-size: 17px;
  }
  .results{
    flex-direction: column-reverse;
    width: 100%;
    height:auto;
  }
  .places{
    width: 100%;
    height:auto;
    text-align: left;
    overflow-y: none;
    
    background-color: #eeeeee;
  }
  .leaflet-container{
    height:500px;
    width: 100%;
  }
  .header{
    height: auto;
    padding-bottom: 20px;
  }
  .SearchBar{
    display: grid;
  }
  .SearchBar input{
    width: 85%;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  button{
    width: 50%;
    margin:5px auto;
  }
  
}